@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Londrina+Sketch&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://unpkg.com/@hackernoon/pixel-icon-library/fonts/iconfont.css');

@font-face {
  font-family: 'circular';
  src: url('circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}

:root {
  /* --bg-color: rgb(217,217,217); */
  --bg-color: rgb(216, 211, 205);
  --accent-color: rgb(91, 134, 214);

  /* Lightspeed */
  --lightspeed-ac: rgb(147,163,255);

  /* Rush Hour */
  --rushhour-ac: rgb(255,87,82);
  
  /* Porfolio */
  /* --lightspeed-ac: rgb(123, 176, 255);

  /* MetaTune */
  /* --lightspeed-ac: rgb(123, 176, 255);

  /* BLANK */
  --blank-ac: rgb(158, 165, 170);
}

.accent-color {
  color: var(--accent-color);
  /* text-shadow: 0 0px 20px rgb(39, 167, 253, 0.5); */
}

/*
✦•············································•✦
━━━━━━━━┛ ✠    Lightspeed styling   ✠ ┗━━━━━━━━
✦•············································•✦
*/

/* .lightspeed-ac {
  color: rgb(133, 84, 84);
  text-shadow: 0 0px 20px rgb(39, 167, 253, 0.5);
} */